@import url("https://fonts.googleapis.com/css?family=Modak|Quicksand");
body {
  background: deeppink;
  background: url("../images/3px-tile.png"), linear-gradient(180deg, deeppink, orangered);
  font-family: Quicksand, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Modak, cursive;
}

h1 {
  font-size: 120px;
}

img {
  width: 100%;
  height: auto;
}
