// Font Variables
$headlines: Modak;
$headline-fb: cursive;
$body: Quicksand;
$body-fb: sans-serif;

$headline-font-size: 120px;

@import url('https://fonts.googleapis.com/css?family=Modak|Quicksand');
