// Font Variables
$headlines: Montserrat;
$headline-fb: sans-serif;
$body: 'Open Sans';
$body-fb: sans-serif;
$headline-font-size: 75px;
$letter-spacing: 22px;
@import url('https://fonts.googleapis.com/css?family=Montserrat:100|Open+Sans');
